// breakpoints
$mobile:                            768px;  // up to
$tablet:                            769px;  // from
$desktop:                           1024px; // from
$max-content:                       1160px; // from

// font family
$font-family:                       arial, sans-serif;

// fonts size
$font-size-title-1:                 48px;
$font-size-title-1-mobile:          28px;
$font-size-body-1:                  22px;
$font-size-body-1-mobile:           18px;
$font-size-body-2:                  16px;
$font-size-body-2-mobile:           14px;

// colors
$primary:                           rgb(225, 112, 85);
$text-primary:                      rgb(22, 22, 23);
$text-secondary:                    rgb(110, 109, 122);
$background-color:                  rgb(243, 243, 244);

// borders
$border-radius:             16px;
